#articulo1 {
    padding-bottom: 20px;
}
#articulo2 {
    display: block;
}
iframe {
    display: block;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgba(150, 198, 212, 0.438); 
    }
main {
    position: relative;
}
#container1 {
    padding: 0ch;
    padding-top: 20px;
}
.container2 {
    padding-bottom: 20px;
}
.formu {
    padding-top: 100px;
}
.card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
#historia {
    padding-bottom: 300px;
}
.rounded {
    border-bottom: 3em;
    width: 300px;
    min-height: 200px;
    padding-top: 70px;
    opacity: 80%;
}
